<phpunit bootstrap="./bootstrap.php" backupGlobals="false" processIsolation="false">
    <testsuites>
        <testsuite name="WebPT Desk Integration Test Suite">
            <directory>./</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>../../src/DeskModule</directory>
        </whitelist>
    </filter>
</phpunit>